<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Fish app</title>
</head>
<body>
    <%- include('./partials/_navbar') %>

    <% if (user) { %>
        <h1>Welcome to the fish app, <%= user.username %></h1>
    <% } else { %>
        <h1>The fish app</h1>
    <% } %>
    <p>An app for fish keeping enthusiasts!</p>
    <a href="/fish">Browse fish</a>
    <p><a href="/fish-shop">Shop for fish</a></p>
    <% if (user) { %>
        <p>
            <a href="/auth/sign-out">Sign out</a>
        </p>
    <% } else { %>
        <p>
            <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>
        </p>
    <% } %>
</body>
</html>